@media (min-width: 768px) {
    .search-block {
        width: 28.733084346%;
    }
}
@media (min-width: 431px) and (max-width: 768px) {
    .search-row {
        justify-content: center;
    }
    .search-block {
        width: 283px;
    }
}
@media (max-width: 430px) {
    .search-row {
        justify-content: center;
    }
    .search-block {
        width: 220px;
    }
}
* {
    margin: 0;
}
.search-row {
    display: flex;
    align-items: center;
    padding: 1% 16.2847222222% 1% 16.2847222222%;
    background-color: #EBF3F5;
    font-family: 'Manrope', sans-serif;
}
.search-block {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: solid #5C8692 3px;
}
.search-input {
    align-content: center;
    width: 100%;
}
.search-input input {
    background-color: transparent;
    border: transparent;
    outline:none;
    color: #555555;
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin-left: 5%;
}